@use './variables.module' as variables;

@mixin flex-1 {
  display: flex;
  flex: 1;
}

@mixin flex-col-1 {
  @include flex-1;
  flex-direction: column;
}

@mixin flex-row-1 {
  @include flex-1;
  flex-direction: row;
}

@mixin headerText {
  font-size: variables.$fontSizeTitle;
}

@mixin headerTextLarge {
  font-size: variables.$fontSizeTitleLarge;
}

@mixin headerTextWithMargin {
  @include headerText;
  margin-bottom: 30px;
}

@mixin regularText {
  font-size: variables.$fontSizeRegular;
  align-self: flex-start;
  line-height: 1.8;
}
